<div class="container-box">

    <div class="row">
        <div class="col">
            <p>{{'产品及解决方案' | translate}}</p>
            <ul>
                <li>{{'领科的模块产品' | translate}}</li>
                <li>{{'softsim解决方案' | translate}}</li>
                <li>{{'链接管理解决方案' | translate}}</li>
            </ul>
        </div>
        <div class="col">
            <p>{{'资费以及服务' | translate}}</p>
            <ul>
                <li>{{'亚洲' | translate}}</li>
                <li>{{'欧洲' | translate}}</li>
                <li>{{'北美洲' | translate}}</li>
                <li>{{'南美洲' | translate}}</li>
                <li>{{'大洋洲' | translate}}</li>
            </ul>
        </div>
        <div class="col">
            <p>{{'应用领域' | translate}}</p>
            <ul>
                <li>{{'消费电子' | translate}}</li>
                <li>{{'物流' | translate}}</li>
                <li>{{'车联网' | translate}}</li>
                <li>{{'智慧楼宇' | translate}}</li>
                <li>{{'市政工程' | translate}}</li>
            </ul>
        </div>
        <div class="col">
            <p>{{'关于我们' | translate}}</p>
            <div class="siteinfo">
                <p>{{'电邮' | translate}}</p>
                <p>{{'项目联系' | translate}}</p>
                <p>{{'公司地址' | translate}}</p>
                <p>{{'深分公司' | translate}}</p>
                <p>{{'北分公司' | translate}}</p>
            </div>
        </div>
    </div>

</div>

<!--<div class="container-box">
    <div class="copyright">
        <h4>Copyright © <span>2017</span>, Smartisan Digital Co., Ltd. All Rights Reserved.</h4>
        <a href="http://www.miibeian.gov.cn/" target="_blank">
            <span>京ICP备14041720号-1</span>
            <span>京ICP证140622号</span>
            <span>京公网安备11010502025474</span>
        </a>
    </div>
</div>-->


