<div class="container-box">

    <div class="row">
        <div class="col">
            <p>产品及解决方案</p>
            <ul>
                <li>领科的模块产品</li>
                <li>softsim解决方案</li>
                <li>链接管理解决方案</li>
            </ul>
        </div>
        <div class="col">
            <p>资费以及服务</p>
            <ul>
                <li>亚洲</li>
                <li>欧洲</li>
                <li>北美洲</li>
                <li>南美洲</li>
                <li>大洋洲</li>
            </ul>
        </div>
        <div class="col">
            <p>应用领域</p>
            <ul>
                <li>消费电子</li>
                <li>物流</li>
                <li>车联网</li>
                <li>智慧楼宇</li>
                <li>市政工程</li>
            </ul>
        </div>
        <div class="col">
            <p>关于我们</p>
            <div class="siteinfo">
                <p>电邮：info@linksfield.net</p>
                <p>项目联系：13537815643</p>
                <p>公司地址：香港铜锣湾谢斐道482号信诺环球保险中心10楼1005-06室</p>
                <p>深分公司：深圳南山科技园南区惠恒大厦二期209</p>
                <p>北分公司：北京望京SOHO Tower3，A栋，21楼</p>
            </div>
        </div>
    </div>

</div>

<div class="container-box">
    <div class="copyright">
        <h4>Copyright © <span>2017</span>, Smartisan Digital Co., Ltd. All Rights Reserved.</h4>
        <a href="http://www.miibeian.gov.cn/" target="_blank">
            <span>京ICP备14041720号-1</span>
            <span>京ICP证140622号</span>
            <span>京公网安备11010502025474</span>
        </a>
    </div>
</div>


