:host{
    //min-width: 1200px;
    //padding: 55px 0 80px;
    //background-color: #fff;
    //font-size: 14px;
    //display: block;

    background: #fafafa;
    border-top: 1px solid #e6e6e6;
    display: block;
}

.siteinfo{
    padding: 100px 0 32px;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
}

.copyright{
    color: #434d55;
    font-size: 12px;
    padding: 40px 0;
}
