<div class="container-box">
    <div class="nav-sub">
        <ul class="nav-list">
            <li><a href="javascript:void 0" (click)="dataType = 1" [ngClass]="{'active':dataType == 1}">{{'消费电子' | translate}}</a></li>
            <li><a href="javascript:void 0" (click)="dataType = 2" [ngClass]="{'active':dataType == 2}">{{'物流' | translate}}</a></li>
            <li><a href="javascript:void 0" (click)="dataType = 3" [ngClass]="{'active':dataType == 3}">{{'车联网' | translate}}</a></li>
            <li><a href="javascript:void 0" (click)="dataType = 4" [ngClass]="{'active':dataType == 4}">{{'智慧楼宇' | translate}}</a></li>
            <li><a href="javascript:void 0" (click)="dataType = 5" [ngClass]="{'active':dataType == 5}">{{'市政工程' | translate}}</a></li>
        </ul>
    </div>

    <div [ngSwitch]="dataType">

        <ng-template [ngSwitchCase]="1">
            <div class="introduce">
                <div class="img">
                    <app-slide-img [list]="['assets/img/application1.jpg']" [width]="1000" [height]="354" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                </div>
                <div class="flex-items-center">
                    <div class="first-text">
                        <h2>{{'消费电子' | translate}}</h2>
                        <p>{{'消费电子-1' | translate}}</p>
                    </div>
                </div>
            </div>

            <div class="introduce-box">
                <div class="header">
                    <h2 class="m-0">{{'产品概述' | translate}}</h2>
                </div>
                <div class="introduce">
                    <!--<div class="img-small">
                        <app-slide-img [list]="list" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                    </div>-->
                    <div class="w-100 p-4">
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">{{'应用领域' | translate}}</h4>
                                <p class="card-text">{{'应用领域-1' | translate}}</p>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">{{'场景' | translate}}</h4>
                                <p class="card-text">{{'场景-1' | translate}}</p>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">{{'解决方案' | translate}}</h4>
                                <p class="card-text">{{'解决方案-1' | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template [ngSwitchCase]="2">
            <div class="introduce">
                <div class="img">
                    <app-slide-img [list]="['assets/img/application2.jpg']" [width]="933" [height]="368" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                </div>
                <div class="flex-items-center">
                    <div class="first-text">
                        <h2>{{'物流' | translate}}</h2>
                        <p>{{'物流-1' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="introduce-box">
                <div class="header">
                    <h2 class="m-0">{{'产品概述' | translate}}</h2>
                </div>
                <div class="introduce">
                    <!--<div class="img-small">
                        <app-slide-img [list]="list" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                    </div>-->
                    <div class="w-100 p-4">
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">{{'应用领域' | translate}}</h4>
                                <p class="card-text">{{'应用领域-2' | translate}}</p>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">{{'场景' | translate}}</h4>
                                <p class="card-text">{{'场景-2' | translate}}</p>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">{{'解决方案' | translate}}</h4>
                                <p class="card-text">{{'解决方案-2' | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template [ngSwitchCase]="3">
            <div class="introduce">
                <div class="img">
                    <app-slide-img [list]="['assets/img/application3.jpg']" [width]="1000" [height]="354" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                </div>
                <div class="flex-items-center">
                    <div class="first-text">
                        <h2>{{'车联网' | translate}}</h2>
                        <p>{{'车联网-1' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="introduce-box">
                <div class="header">
                    <h2 class="m-0">{{'产品概述' | translate}}</h2>
                </div>
                <div class="introduce">
                    <!--<div class="img-small">
                        <app-slide-img [list]="list" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                    </div>-->
                    <div class="w-100 p-4">
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">{{'应用领域' | translate}}</h4>
                                <p class="card-text">{{'应用领域-3' | translate}}</p>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">{{'场景' | translate}}</h4>
                                <p class="card-text">{{'场景-3' | translate}}</p>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">{{'解决方案' | translate}}</h4>
                                <p class="card-text">{{'解决方案-3' | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template [ngSwitchCase]="4">
            <div class="introduce">
                <div class="img">
                    <app-slide-img [list]="['assets/img/application4.jpg']" [width]="1000" [height]="354" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                </div>
                <div class="flex-items-center">
                    <div class="first-text">
                        <h2>{{'智慧楼宇' | translate}}</h2>
                        <p>{{'智慧楼宇-1' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="introduce-box">
                <div class="header">
                    <h2 class="m-0">{{'产品概述' | translate}}</h2>
                </div>
                <div class="introduce">
                    <!--<div class="img-small">
                        <app-slide-img [list]="list" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                    </div>-->
                    <div class="w-100 p-4">
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">{{'应用领域' | translate}}</h4>
                                <p class="card-text">{{'应用领域-4' | translate}}</p>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">{{'场景' | translate}}</h4>
                                <p class="card-text">{{'场景-4' | translate}}</p>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">{{'解决方案' | translate}}</h4>
                                <p class="card-text">{{'解决方案-4' | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template [ngSwitchCase]="5">
            <div class="introduce">
                <div class="img">
                    <app-slide-img [list]="['assets/img/application5.jpg']" [width]="1000" [height]="354" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                </div>
                <div class="flex-items-center">
                    <div class="first-text">
                        <h2>{{'市政工程' | translate}}</h2>
                        <p>{{'市政工程-1' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="introduce-box">
                <div class="header">
                    <h2 class="m-0">{{'产品概述' | translate}}</h2>
                </div>
                <div class="introduce">
                    <!--<div class="img-small">
                        <app-slide-img [list]="list" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                    </div>-->
                    <div class="w-100 p-4">
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">{{'应用领域' | translate}}</h4>
                                <p class="card-text">{{'应用领域-5' | translate}}</p>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">{{'场景' | translate}}</h4>
                                <p class="card-text">{{'场景-5' | translate}}</p>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">{{'解决方案' | translate}}</h4>
                                <p class="card-text">{{'解决方案-5' | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

    </div>

</div>
