<div class="container-box">
    <div class="nav-sub">
        <ul class="nav-list">
            <li><a href="javascript:void 0" (click)="dataType = 1" [ngClass]="{'active':dataType == 1}">消费电子</a></li>
            <li><a href="javascript:void 0" (click)="dataType = 2" [ngClass]="{'active':dataType == 2}">物流</a></li>
            <li><a href="javascript:void 0" (click)="dataType = 3" [ngClass]="{'active':dataType == 3}">车联网</a></li>
            <li><a href="javascript:void 0" (click)="dataType = 4" [ngClass]="{'active':dataType == 4}">智慧楼宇</a></li>
            <li><a href="javascript:void 0" (click)="dataType = 5" [ngClass]="{'active':dataType == 5}">市政工程</a></li>
        </ul>
    </div>

    <div [ngSwitch]="dataType">

        <ng-template [ngSwitchCase]="1">
            <div class="introduce">
                <div class="img">
                    <app-slide-img [list]="['assets/img/application1.jpg']" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                </div>
                <div class="text">
                    <h2>消费电子</h2>
                    <p>
                        消费电子时直接与最终消费的衣食住行相关的，能够消费者日常生活关联的一种便携式设备。不仅仅是一种硬件设备，更是通过软件支持以及数据交互、云端交互来实现强大的功能，
                        此类电子设备将会对我们的生活、感知带来很大的转变。
                    </p>
                </div>
            </div>

            <div class="introduce-box">
                <div class="header">
                    <h2 class="m-0">产品概述</h2>
                </div>
                <div class="introduce">
                    <!--<div class="img-small">
                        <app-slide-img [list]="list" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                    </div>-->
                    <div class="w-100 p-4">
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">应用领域</h4>
                                <p class="card-text">智能手环/手表、共享单车，移动POS等移动终端设备。</p>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">场景</h4>
                                <p class="card-text">信号覆盖面积大，体积要求小，低功耗，特定时间段内有大数量发送要求。</p>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">解决方案</h4>
                                <p class="card-text">提供全球2/3G网络，网络稳定，覆盖广，提供带有SOFTSIM的2/3模块减小功耗和体积，提供日程类中小流量池，或者共享流量池的方案，以及DCP云平台和基于LBS的定位服务。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template [ngSwitchCase]="2">
            <div class="introduce">
                <div class="img">
                    <app-slide-img [list]="['assets/img/application2.jpg']" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                </div>
                <div class="text">
                    <h2>物流</h2>
                    <p>
                        物流业是物联网很早就实实在在落地的行业之一，很多先进的现代物流系统已经具备了信息化、数字化、网络化、集成化、智能化、敏捷化、可视化、自动化等先进技术特征。目前以及未来将会在物流的追溯，可视化只能管理网络，物流配送中心，供应链中大规模的使用。
                    </p>
                </div>
            </div>
            <div class="introduce-box">
                <div class="header">
                    <h2 class="m-0">产品概述</h2>
                </div>
                <div class="introduce">
                    <!--<div class="img-small">
                        <app-slide-img [list]="list" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                    </div>-->
                    <div class="w-100 p-4">
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">应用领域</h4>
                                <p class="card-text">运输中的应用，车辆智能调度。</p>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">场景</h4>
                                <p class="card-text">信号覆盖面积大，环境多变，流量需求较大，数据安全要求高。</p>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">解决方案</h4>
                                <p class="card-text">提供全球2/3G稳定成熟的网络，提供带有GPS，softsim的低功耗通信模块，提供加密数据传输通道，可以自由添加连接点的流量池管理方案。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template [ngSwitchCase]="3">
            <div class="introduce">
                <div class="img">
                    <app-slide-img [list]="['assets/img/application3.jpg']" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                </div>
                <div class="text">
                    <h2>车联网</h2>
                    <p>
                        车联网是以车内网、车际网和车载移动互联 网为基础，按照约定的通信协议和数据交互标准，在车-X（X：车、路、行人及 互联网等）之间，进行无线通讯和信息交换的大系统网络，是能够实现智能化交 通管理、智能动态信息服务和车辆智能化控制的一体化网络，是物联网技术在交通系统领域的典型应用。
                    </p>
                </div>
            </div>
            <div class="introduce-box">
                <div class="header">
                    <h2 class="m-0">产品概述</h2>
                </div>
                <div class="introduce">
                    <!--<div class="img-small">
                        <app-slide-img [list]="list" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                    </div>-->
                    <div class="w-100 p-4">
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">应用领域</h4>
                                <p class="card-text">后视镜、大屏导航器、车载MIFI、行车记录仪等车联网装置。</p>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">场景</h4>
                                <p class="card-text">信号稳定，流量大，实时性高，有较高定位要求or精准定位要求。</p>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">解决方案</h4>
                                <p class="card-text">提供全球3/4G稳定成熟的网络，提供带有GPS,softsim的低功耗模块。提供全球按月的流量资费，DCP设备管理平台管控实时监控，预警流量，查询服务，以及设备的连接管理，提供基于LBS的位置服务。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template [ngSwitchCase]="4">
            <div class="introduce">
                <div class="img">
                    <app-slide-img [list]="['assets/img/application4.jpg']" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                </div>
                <div class="text">
                    <h2>智慧楼宇</h2>
                    <p>智能楼宇不是单一设备的堆积，随着智能建筑技术IT化以后，整体设计应该围绕IT化、网络化、智能化发展，将所有基础信息涵盖设备、照明控制、空气质量等，进行统一管理调动。未来，随着大数据、云计算、物联网等技术逐渐成熟，智慧楼宇的应用不再停留在系统整合、楼宇自动化、安全管理等方面，而是如何利用楼宇的各种数据，令楼宇的建设、管理与应用更加智能化。</p>
                </div>
            </div>
            <div class="introduce-box">
                <div class="header">
                    <h2 class="m-0">产品概述</h2>
                </div>
                <div class="introduce">
                    <!--<div class="img-small">
                        <app-slide-img [list]="list" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                    </div>-->
                    <div class="w-100 p-4">
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">应用领域</h4>
                                <p class="card-text">安防监控，照明监控、施工安防监控。</p>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">场景</h4>
                                <p class="card-text">单体数据流量大、信号稳定性问题、 数据安全问题、 设备对环境适应性问题。</p>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">解决方案</h4>
                                <p class="card-text">提供全球3/4G稳定网络，提供5-150G大流量共享流量池，softsim 3/4G通讯模块以及各类环境的强适应性。结合DCP实现对设备的安全连接管理，以及流量使用监控。提供安全加密数据传输通道。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template [ngSwitchCase]="5">
            <div class="introduce">
                <div class="img">
                    <app-slide-img [list]="['assets/img/application5.jpg']" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                </div>
                <div class="text">
                    <h2>市政工程</h2>
                    <p>
                        我们生活所在城市的水，空气等环境，道路，市政设施，交通，房屋建筑，管网，供电，供水，供气，供热等等，都和我们的生活休戚相关，这些事务运作的好坏很大程度决定了我们生活的品质。也时常惊醒着人们生活在十分糟糕的环境中，可能对我们的身体健康造成严重的损害。对我们生活的城市中的环境（水，空气等），道路，市政设施，交通，房屋建筑，管网，供电，供水，供气，供热等等各种对象，需要植入各种智能传感器，收集城市的各种信息指标，全方位的感知我们生活的城市。
                    </p>
                </div>
            </div>
            <div class="introduce-box">
                <div class="header">
                    <h2 class="m-0">产品概述</h2>
                </div>
                <div class="introduce">
                    <!--<div class="img-small">
                        <app-slide-img [list]="list" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                    </div>-->
                    <div class="w-100 p-4">
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">应用领域</h4>
                                <p class="card-text">路灯，水电煤气抄表。</p>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">场景</h4>
                                <p class="card-text">分布地域广，网络信号覆盖高，网络稳定高，设备对环境适应性问题，单体数据量小的特点。</p>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-block">
                                <h4 class="card-title font-weight-bold">解决方案</h4>
                                <p class="card-text">提供全球2/3G稳定网络，带有简单LBS定位和softsim的2/3G模块。中小流量按月不清零的中小流量资费，结合DCP连接管理平台，管理设备的连接服务，流量查询统计等业务。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

    </div>

</div>
