<div class="container-box">
    <div class="nav-sub">
        <ul class="nav-list">
            <li><a href="javascript:void 0" (click)="dataType = 1" [ngClass]="{'active':dataType == 1}">{{'领科的模块产品' | translate}}</a></li>
            <li><a href="javascript:void 0" (click)="dataType = 2" [ngClass]="{'active':dataType == 2}">{{'DCP解决方案' | translate}}</a></li>
            <li><a href="javascript:void 0" (click)="dataType = 3" [ngClass]="{'active':dataType == 3}">{{'SOFTSIM以及远程配置管理' | translate}}</a></li>
        </ul>
    </div>

    <div [ngSwitch]="dataType">

        <ng-template [ngSwitchCase]="1">
            <div class="introduce">
                <div class="img">
                    <app-slide-img [list]="['assets/img/product1.jpg']" [width]="1920" [height]="900" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                </div>
                <div class="flex-items-center">
                    <div class="first-text">
                        <h2>{{'领科的模块产品' | translate}}</h2>
                        <p>{{'领科的模块产品-1' | translate}}</p>
                    </div>
                </div>
            </div>

            <div class="introduce-box">
                <div class="header">
                    <h2 class="m-0">{{'产品概述' | translate}}</h2>
                </div>
                <div class="introduce">
                    <div class="img-small" style="min-width: 300px">
                        <app-slide-img [list]="['assets/img/product2.jpg']" [width]="1920" [height]="900" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                    </div>
                    <div class="text">
                        <h2>{{'产品特点以及利益' | translate}}</h2>
                        <ol>
                            <li>{{'产品特点以及利益-1' | translate}}</li>
                            <li>{{'产品特点以及利益-2' | translate}}</li>
                            <li>{{'产品特点以及利益-3' | translate}}</li>
                            <li>{{'产品特点以及利益-4' | translate}}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template [ngSwitchCase]="2">
            <div class="introduce">
                <div class="img">
                    <app-slide-img [list]="['assets/img/product3.jpg']" #slideImg="slideImg" [width]="1920" [height]="900" [ctrl]="false"></app-slide-img>
                </div>
                <div class="flex-items-center">
                    <div class="first-text">
                        <h2>{{'DCP解决方案' | translate}}</h2>
                        <p>
                            {{'DCP解决方案-1' | translate}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="introduce-box">
                <div class="header">
                    <h2 class="m-0">{{'产品概述' | translate}}</h2>
                </div>
                <div class="introduce">
                    <div class="text">
                        <h2>{{'DCP方案概述' | translate}}</h2>
                        <p>1. {{'DCP方案概述-1' | translate}}</p>
                        <p>2. {{'DCP方案概述-2' | translate}}</p>
                        <p>3. {{'DCP方案概述-3' | translate}}</p>
                    </div>
                </div>
                <div class="introduce">
                    <div class="text">
                        <h2>{{'实施方法' | translate}}</h2>
                        <p>1. {{'实施方法-1' | translate}}</p>
                        <p>2. {{'实施方法-1' | translate}}</p>
                        <p>3. {{'实施方法-1' | translate}}</p>
                    </div>
                </div>
                <div class="introduce">
                    <div class="text">
                        <h2>{{'服务质量' | translate}}</h2>
                        <p>{{'服务质量-1' | translate}}</p>
                    </div>
                </div>
                <div class="introduce">
                    <div class="text">
                        <h2>{{'定制解决方案' | translate}}</h2>
                        <p>{{'定制解决方案-1' | translate}}</p>
                    </div>
                </div>
            </div>
            <!--DCP方案概述-->
        </ng-template>

        <ng-template [ngSwitchCase]="3">
            <div class="introduce">
                <div class="img">
                    <app-slide-img [list]="['assets/img/product4.jpg']" [width]="1920" [height]="900" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                </div>
                <div class="flex-items-center">
                    <div class="first-text">
                        <h2>{{'SOFTSIM以及远程配置管理' | translate}}</h2>
                        <p>{{'SOFTSIM以及远程配置管理-1' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="introduce-box">
                <div class="header">
                    <h2 class="m-0">{{'产品概述' | translate}}</h2>
                </div>
                <div class="introduce">
                    <div class="text">
                        <h2>{{'softsim方案概述' | translate}}</h2>
                        <p>{{'softsim方案概述-1' | translate}}</p>
                    </div>
                </div>
            </div>
        </ng-template>

    </div>
</div>
