<!--<div class="container-box">
    <div class="banner-slide">

    </div>
</div>-->

<div>
    <app-slide-img [list]="list" [width]="1920" [height]="500"></app-slide-img>
</div>

<div style="width: 1200px;margin: 35px auto;">
    <img src="assets/img/3.png" alt="">
</div>

<app-slide-img [list]="['assets/img/4.jpg']" [ctrl]="false"></app-slide-img>

<div style="width: 1200px;margin: 35px auto;">
    <img src="assets/img/5.png" alt="">
</div>

<div style="width: 1200px;margin: 35px auto;">
    <img src="assets/img/6.png" alt="">
</div>
