<!--<div class="container-box">
    <div class="banner-slide">

    </div>
</div>-->

<div>
    <app-slide-img [list]="list" [width]="1920" [height]="500"></app-slide-img>
</div>

<div class="container-box">
    <app-slide-img [list]="['assets/img/index1.png']" [ctrl]="false"></app-slide-img>
</div>
<div class="container-box">
    <app-slide-img [list]="['assets/img/index2.png']" [ctrl]="false"></app-slide-img>
</div>
<div class="container-box">
    <app-slide-img [list]="['assets/img/index3.png']" [ctrl]="false"></app-slide-img>
</div>
<div class="container-box">
    <app-slide-img [list]="['assets/img/index4.png']" [ctrl]="false"></app-slide-img>
</div>
<div class="container-box">
    <app-slide-img [list]="['assets/img/index5.png']" [ctrl]="false"></app-slide-img>
</div>

<!--
<app-slide-img [list]="['assets/img/index2.png']" [ctrl]="false"></app-slide-img>
<app-slide-img [list]="['assets/img/index3.png']" [ctrl]="false"></app-slide-img>
<app-slide-img [list]="['assets/img/index4.png']" [ctrl]="false"></app-slide-img>
<app-slide-img [list]="['assets/img/index5.png']" [ctrl]="false"></app-slide-img>
-->

<!--<div style="width: 1200px;margin: 35px auto;">
    <img src="assets/img/index1.png" alt="">
</div>
<div style="width: 1200px;margin: 35px auto;">
    <img src="assets/img/index2.png" alt="">
</div>
<div style="width: 1200px;margin: 35px auto;">
    <img src="assets/img/index3.png" alt="">
</div>
<div style="width: 1200px;margin: 35px auto;">
    <img src="assets/img/index4.png" alt="">
</div><div style="width: 1200px;margin: 35px auto;">
    <img src="assets/img/index5.png" alt="">
</div>-->

