<div class="container-box">
    <div class="nav-sub">
        <ul class="nav-list">
            <li><a href="javascript:void 0" (click)="dataType = 1" [ngClass]="{'active':dataType == 1}">{{'亚洲' | translate}}</a></li>
            <li><a href="javascript:void 0" (click)="dataType = 2" [ngClass]="{'active':dataType == 2}">{{'欧洲' | translate}}</a></li>
            <li><a href="javascript:void 0" (click)="dataType = 3" [ngClass]="{'active':dataType == 3}">{{'北美洲' | translate}}</a></li>
            <li><a href="javascript:void 0" (click)="dataType = 4" [ngClass]="{'active':dataType == 4}">{{'南美洲' | translate}}</a></li>
            <li><a href="javascript:void 0" (click)="dataType = 5" [ngClass]="{'active':dataType == 5}">{{'大洋洲' | translate}}</a></li>
        </ul>
    </div>

    <div [ngSwitch]="dataType">

        <ng-template [ngSwitchCase]="1">
            <div class="introduce">
                <div class="img">
                    <app-slide-img [list]="['assets/img/area1.jpg']" [width]="1100" [height]="706" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                </div>
                <div class="flex-items-center">
                    <div class="first-text">
                        <h2>{{'亚洲' | translate}}</h2>
                        <p>{{'亚洲-1' | translate}}</p>
                    </div>
                </div>
            </div>

        </ng-template>

        <ng-template [ngSwitchCase]="2">
            <div class="introduce">
                <div class="img">
                    <app-slide-img [list]="['assets/img/area2.jpg']" [width]="1100" [height]="706" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                </div>
                <div class="flex-items-center">
                    <div class="first-text">
                        <h2>{{'欧洲' | translate}}</h2>
                        <p>{{'欧洲-1' | translate}}</p>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template [ngSwitchCase]="3">
            <div class="introduce">
                <div class="img">
                    <app-slide-img [list]="['assets/img/area3.jpg']" [width]="1100" [height]="706" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                </div>
                <div class="flex-items-center">
                    <div class="first-text">
                        <h2>{{'北美洲' | translate}}</h2>
                        <p>{{'北美洲-1' | translate}}</p>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template [ngSwitchCase]="4">
            <div class="introduce">
                <div class="img">
                    <app-slide-img [list]="['assets/img/area4.jpg']" [width]="1100" [height]="706" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                </div>
                <div class="flex-items-center">
                    <div class="first-text">
                        <h2>{{'南美洲' | translate}}</h2>
                        <p>{{'南美洲-1' | translate}}</p>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template [ngSwitchCase]="5">
            <div class="introduce">
                <div class="img">
                    <app-slide-img [list]="['assets/img/area5.jpg']" [width]="1100" [height]="706" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                </div>
                <div class="flex-items-center">
                    <div class="first-text">
                        <h2>{{'大洋洲' | translate}}</h2>
                        <p>{{'大洋洲-1' | translate}}</p>
                    </div>
                </div>
            </div>
        </ng-template>

    </div>

</div>
