<div class="container-box">
    <div class="nav-sub">
        <ul class="nav-list">
            <li><a href="javascript:void 0" (click)="dataType = 1" [ngClass]="{'active':dataType == 1}">亚洲</a></li>
            <li><a href="javascript:void 0" (click)="dataType = 2" [ngClass]="{'active':dataType == 2}">欧洲</a></li>
            <li><a href="javascript:void 0" (click)="dataType = 3" [ngClass]="{'active':dataType == 3}">北美洲</a></li>
            <li><a href="javascript:void 0" (click)="dataType = 4" [ngClass]="{'active':dataType == 4}">南美洲</a></li>
            <li><a href="javascript:void 0" (click)="dataType = 5" [ngClass]="{'active':dataType == 5}">大洋洲</a></li>
        </ul>
    </div>

    <div [ngSwitch]="dataType">

        <ng-template [ngSwitchCase]="1">
            <div class="introduce">
                <div class="img">
                    <app-slide-img [list]="['assets/img/area1.jpg']" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                </div>
                <div class="text">
                    <h2>亚洲</h2>
                    <p>
                        服务地区有香港，澳门，台湾，日本，韩国，新加坡。马来西亚，泰国，越南，老挝，印度尼西亚，菲律宾，阿联酋，提供一定周期内的免费测试资源，可按天购买，也可以按流量池购买。提供中小流量资费以及大流量池资费服务。
                    </p>
                </div>
            </div>

        </ng-template>

        <ng-template [ngSwitchCase]="2">
            <div class="introduce">
                <div class="img">
                    <app-slide-img [list]="['assets/img/area2.jpg']" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                </div>
                <div class="text">
                    <h2>欧洲</h2>
                    <p>
                        服务地区有欧洲全境，提供一定周期内的免费测试资源，可按天购买，也可以按流量池购买。提供中小流量资费以及大流量池资费服务。
                    </p>
                </div>
            </div>
        </ng-template>

        <ng-template [ngSwitchCase]="3">
            <div class="introduce">
                <div class="img">
                    <app-slide-img [list]="['assets/img/area3.jpg']" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                </div>
                <div class="text">
                    <h2>北美洲</h2>
                    <p>
                        服务地区有美国，加拿大，提供一定周期内的免费测试资源，可按天购买，也可以按流量池购买。提供中小流量资费以及大流量池资费服务。
                    </p>
                </div>
            </div>
        </ng-template>

        <ng-template [ngSwitchCase]="4">
            <div class="introduce">
                <div class="img">
                    <app-slide-img [list]="['assets/img/area4.jpg']" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                </div>
                <div class="text">
                    <h2>南美洲</h2>
                    <p>
                        服务地区有巴西，墨西哥，提供一定周期内的免费测试资源，可按天购买，也可以按流量池购买。提供中小流量资费以及大流量池资费服务。
                    </p>
                </div>
            </div>
        </ng-template>

        <ng-template [ngSwitchCase]="5">
            <div class="introduce">
                <div class="img">
                    <app-slide-img [list]="['assets/img/area5.jpg']" #slideImg="slideImg" [ctrl]="false"></app-slide-img>
                </div>
                <div class="text">
                    <h2>大洋洲</h2>
                    <p>
                        服务地区有澳大利亚，新西兰，提供一定周期内的免费测试资源，可按天购买，也可以按流量池购买。提供中小流量资费以及大流量池资费服务。
                    </p>
                </div>
            </div>
        </ng-template>

    </div>

</div>
